body{
    height: 100vh;
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 0;
}
.headerbox{
    display: flex;
    width:100%;
    height: 40px;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border:none;
    box-shadow: 0 10px 20px black;
    background: linear-gradient(60deg,white, purple,black );
    border-radius: 20px;
}
.headerbox a{
    display: block;
    color: white;
    font-size: large;
    text-decoration: none;
    width: fit-content;
}
.headerbox a:hover{
    text-decoration: underline;
    transform: translateY(-3px);
}
.dropdown{
    position: relative;
    display: inline-block;
}
.contactbtn{
    background-color: rgb(217, 67, 217);
    padding: 0 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px black;
    color: white;
    font-size: large;
    font-weight: 500;
    border: none;
}
.contbutn{
    display: none;
    position: absolute;
    background-color: rgb(217, 67, 217);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px black;
    z-index: 1;
}
.contbutn a{
    display: block;
    margin-top: 10px;
}
.dropdown:hover .contbutn{
    display: block;
}
main{
    background-color: rgb(19, 0, 30);
    color: white;
}
.home{
    display: flex;
    width: 100%;
    height: max-content;
    background: linear-gradient(100deg,black,
    rgb(27, 0, 27),rgb(28, 0, 28),black);
}
.top{
    display: flex;
    width: 100%;
    height: 400px;
}
.left,
.right{
    width: 50%;
}
.bottom{
    display: flex;
}
.home .left{
    padding-top: 60px;
    padding-left: 10px;
    display: flex;
    flex-flow: column;
}
.home .right{
    background:linear-gradient(90deg,
    rgb(28, 0, 28),purple );
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 96%;
    height: 280px;
    border-radius: 100px;
    box-shadow: 0 10px 20px black;
}
.headerbox img{
    width: 150px;
    height: 80%;
    box-shadow: none;
}
.left img{
    align-self: flex-start;
    margin-top: 60px;
}
.botmbtns{
    width: 100%;
    margin: 10px;
}
.btnwhite{
    height: 25px;
    border: none;
    box-shadow: 0 5px 10px purple;
    font-weight: 700;
    font-size: large;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.btnblack{
    height: 25px;
    border: 1px solid white;
    border-top: none;
    box-shadow: 0 5px 10px purple;
    font-weight: 700;
    font-size: large;
    background-color: black;
    border-radius: 20px;
    color: white;
}
h4 b{
    font-size: x-large;
}
.purple{
    color: purple;
    font-size: large;
    margin: 0;
    padding: 0;
}
.icons{
    width: 100%;
    margin: 10px;
}
i{
    height: fit-content;
    width: fit-content;
    padding: 3px;
    border-radius: 50%;
    background-color: white;
    color: purple;
    font-weight: 700;
    margin-left: 10px;
}
.about{
    display: flex;
    width: 100%;
    height: max-content;
    background: linear-gradient(100deg,black,
    rgb(27, 0, 27),rgb(28, 0, 28),black);
    padding-bottom: 50px;
}
.about .left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .skilllogo{
    width: 40px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 0 10px 10px black;
    margin: 0 5px;
}
.services{
    display: flex;
    width: 100%;
    height: max-content;
    background: linear-gradient(100deg,black,
    rgb(56, 1, 56),rgb(56, 1, 56),black);
    flex-flow: column;
}
.services h3, .services h4{
    display: block;
    text-align: center;
    color: white;
}
.scroll1{
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    gap: 10px;
    flex-direction: row;
    padding-bottom: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.scroll1box{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 200px;
    padding: 10px;
    background-color: rgb(78, 1, 78);
    box-shadow: 0 10px 20px black;
    border-radius: 10px;
}
.scroll1box img{
    width: 200px;
    height: 150px;
    box-shadow: 0 5px 10px black;
    border-radius: 10px;
    justify-self: center;
}
.projects{
    display: flex;
    width: 100%;
    height: max-content;
    background: linear-gradient(100deg,black,
    rgb(56, 1, 56),rgb(56, 1, 56),black);
    flex-flow: column;
}
.projects h3, .projects h4{
    display: block;
    text-align: center;
}
.scorll2{
    display: flex;
    gap: 10px;
    width: 100%;
    padding-bottom: 20px;
    overflow-x: auto;
    flex: 0 0 auto;
}
.scroll2box{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 300px;
    background-color: rgb(78, 1, 78);
    box-shadow: 0 10px 20px black;
    border-radius: 10px;
    padding: 5px;
}
.scroll2box img{
    width: 250px;
    height: 250px;
    box-shadow: 0 5px 10px black;
    border-radius: 10px;
    justify-self: center;

}
.seeall{
    padding: 5px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    width: 80px;
    background: linear-gradient(90deg,purple,rgb(108, 1, 108),rgb(83, 1, 83));
    color: white;
    text-decoration: none;
    font-weight: 700;
    align-self: center;
    box-shadow: 0 10px 20px black;
    margin-bottom: 20px;
}
.cont{
    background: linear-gradient(90deg, rgb(211, 171, 211),rgb(216, 100, 216),
    purple,rgb(48, 17, 48),rgb(35, 4, 35),black);
    padding-top: 20px;
}
.contact{
    display: flex;

}
.cont h3{
    margin-top: 0;
    display: block;
    text-align: center;
    text-shadow: 3px 8px 10px black;
}
form{
    height: max-content;
    width: 50%;
}
label,input{
    display: block;
    width: 80%;
    padding-left: 20px;
}
input{
    margin-bottom: 20px;
    border-radius: 5px;
    background: inherit;
    color: white;
    height: 30px;
    border: 1px solid goldenrod;
    margin-left: 20px;
}
input[type="submit"]{
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg,purple,rgb(108, 1, 108),rgb(83, 1, 83));
    color: white;
    font-weight: 700;
    align-self: center;
    box-shadow: 0 10px 20px black;
    margin-bottom: 20px;
}
.toptext{
    margin-top: 60px;
    display: block;
    text-align: center;
    color: white;

}
.servmainbox{
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    padding-bottom: 30px;
}
.servicebox{
    width: 300px;
    height: 400px;
    box-shadow: 0 10px 20px black;
    border-radius: 10px;
    padding: 10px;
}
.servicebox img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    border-radius: 10px;
}
button:hover{
    transform: scale(1.1);
    background: linear-gradient(90deg,white,rgb(217, 184, 217),rgb(205, 137, 205));
    color: purple;
}